- name: Install Xcode {{ xcode_version }}
  xcode:
    version: "{{ xcode_version }}"
  environment:
    GEM_HOME: "/Users/travis/.rvm/gems/ruby-2.7.0"
    GEM_PATH: "/Users/travis/.rvm/gems/ruby-2.7.0:/Users/travis/.rvm/gems/ruby-2.7.0@global"
    PATH: "{{ ansible_env.PATH }}:/Users/travis/.rvm/gems/ruby-2.7.0/bin/"
    XCODE_INSTALL_USER: "{{ xcode_install_user }}"
    XCODE_INSTALL_PASSWORD: "{{ xcode_install_password }}"
- name: state of Xcode
  stat: path=/Users/travis/Downloads/Xcode-beta.app
  register: Xcode_stat

- name: Move Xcode to Application
  command: creates="/Applications/Xcoxode-beta.app" mv /Users/travis/Downloads/Xcode-beta.app/ /Applications/Xcode-beta.app/
  command: /usr/bin/xcode-select -s /Applications/Xcode-beta.app/
  when: Xcode_stat.stat.exists
  become: true

- name: Accept Xcode license
  command: sudo xcodebuild -license accept
