- name: Check if Homebrew is installed
  stat: path=/usr/local/bin/brew
  register: homebrew_installed

- name: Install Homebrew
  shell: ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
  homebrew_tap:
    name:
    - homebrew/bundle
    - homebrew/cask
    - homebrew/services
  when: homebrew_installed.stat.exists == false

- name: Install Homebrew casks
  homebrew_cask:
    name: "{{ homebrew_casks }}"

- name: Install Homebrew packages
  homebrew:
    name: "{{ homebrew_packages }}"
    update_homebrew: true
    
# - name: "Symlinking readline lib"
#   file:
#     state: link
#     force: yes
#     src: /usr/local/opt/readline/lib/libreadline.dylib
#     dest: /usr/local/opt/readline/lib/libreadline.7.dylib

# - name: "Symlinking gdbm lib"
#   file:
#     state: link
#     force: yes
#     src: /usr/local/opt/gdbm/lib/libgdbm.dylib
#     dest: /usr/local/opt/gdbm/lib/libgdbm.5.dylib

#- name: Gather installed versions of packages
#  command: /usr/local/bin/brew ls --versions
#  register: brew_versions
#
#- name: Write installed packages to file
#  copy:
#    content: "{{ brew_versions.stdout }}"
#    dest: /tmp/brew_packages
