- name: "Workaround: Symlink libgdbm.dylib to make Ruby binaries happy"
  file:
    state: link
    src: /usr/local/opt/gdbm/lib/libgdbm.dylib
    dest: /usr/local/opt/gdbm/lib/libgdbm.5.dylib

- name: "Workaround: Symlinking readline lib"
  file:
    state: link
    src: /usr/local/opt/readline/lib/libreadline.8.0.dylib
    dest: /usr/local/opt/readline/lib/libreadline.7.dylib

- name: Install rubies
  command: "{{ rvm_binary }} install {{ item }} {{ '--binary' if rvm_require_binaries else '' }}"
  environment:
    TRAVIS: 'true'
  loop: "{{ rubies }}"

- name: Set ruby {{ default_ruby }} as the default ruby version
  command: "{{ rvm_binary }} alias create default {{ default_ruby }}"

- name: Install global RubyGems 
  command: "{{ rvm_binary }} all do gem install {{ item }} --no-doc"
  loop: "{{ global_rubygems }}"

- name: Install xcode-install gem
  command: "{{ rvm_binary }} 2.6.3 do gem install xcode-install --no-doc"

- name: Patch xcode-install 
  copy:
    src: install.rb
    dest: /Users/travis/.rvm/gems/ruby-2.6.3/gems/xcode-install-2.6.2/lib/xcode/
    mode: 0644
    owner: travis

- name: Cleanup RubyGems
  command: "{{ rvm_binary }} all do gem cleanup"

- name: Copy .gemrc
  copy:
    src: gemrc
    dest: /Users/travis/.gemrc
    mode: 0644
    owner: travis
